version: "3.8"
services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: 1001:1001
    network_mode: "host"
    volumes:
      - /config
      - /cache
      - /media:ro
    restart: "unless-stopped"
