# I couldn't to solve ports across 8096
version: "3.5"

services:

  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: 1001:1001
    network_mode: "host"
    volumes:
      #- ./config:/config
      -:/config
      #- ./cache:/cache
      -:/cache
      #- /media:/media:ro
      :/media:ro
    restart: "unless-stopped"