version: '3.8'
services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    restart: unless-stopped
    volumes:
      - config:/config
      - cache:/cache
      - media:/media
volumes:
  config:
  cache:
  media: