# I couldn't to solve ports across 8096
version: "3.8"
services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: 1001:1001
    network_mode: "host"
    volumes:
      #- ./config:/config
      - config:/config
      #- ./cache:/cache
      - cache:/cache
      #- /media:/media:ro
      - media:/media:ro
    restart: "unless-stopped"