# 0.1.9
version: '3.8'
services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    restart: unless-stopped
    ports:
      - "30000:8096"
    volumes:
      - jellyfin-config:/config
      - jellyfin-cache:/cache
      - jellyfin-media:/media
volumes:
  jellyfin-config:
  jellyfin-cache:
  jellyfin-media: