# Default values for jellyfin.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: ghcr.io/jankalep/it-academy-project/jellyfin
  tag: latest
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

# Setting this to true enables DLNA which requires the pod to be attached to the   
# host network in order to be useful - this can break things like ingress to the service
# https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#hosts-namespaces
# https://jellyfin.org/docs/general/networking/dlna.html
enableDLNA: false

service:
  service:
  type: ClusterIP
  port: 8080
  nodePort: 30000
  ## Specify the nodePort value for the LoadBalancer and NodePort service types .
  ## ref: https://kubernetes.io/docs/concepts/services-networking/service/#type-nodeport
  #
  # nodePort:
  ## Provide any additional annotations which may be required. This can be used to
  ## set the LoadBalancer service type to internal only.
  ## ref: https://kubernetes.io/docs/concepts/services-networking/service/#internal-load-balancer
  ##
  annotations: {}
  labels: {}
  ## Use loadBalancerIP to request a specific static IP,
  ## otherwise leave blank
  ##
  loadBalancerIP: 192.168.203.6
  # loadBalancerSourceRanges: []
  ## Set the externalTrafficPolicy in the Service to either Cluster or Local
  # externalTrafficPolicy: Cluster

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  path: /
  hosts:
    - jellyfin.k8s-6.sa
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

persistence:
  cache:
    enabled: true
    accessMode: ReadWriteOnce
    size: 1Gi
  config:
    enabled: true
    ## jellyfin configuration data Persistent Volume Storage Class
    ## If defined, storageClassName: <storageClass>
    ## If set to "-", storageClassName: "", which disables dynamic provisioning
    ## If undefined (the default) or set to null, no storageClassName spec is
    ##   set, choosing the default provisioner.  (gp2 on AWS, standard on _
    ##   GKE, AWS & OpenStack)
    ##
    # storageClass: "-"
    ##
    ## If you want to reuse an existing claim, you can pass the name of the PVC using
    ## the existingClaim variable
    # existingClaim: your-claim
    # subPath: some-subpath
    
    accessMode: ReadWriteOnce
    size: 1Gi
  media:
    enabled: true
    # existingClaim: jellyfin-media-claim
        #existingClaim: {{ template "jellyfin.fullname" . }}-media
    #storageClass: nfs-jellyfin{{ .Chart.AppVersion }}
    #hostPath: /jellyfin/media
    #mountPath: /media
    ## Directory where media is persisted
    ## If defined, storageClassName: <storageClass>
    ## If set to "-", storageClassName: "", which disables dynamic provisioning
    ## If undefined (the default) or set to null, no storageClassName spec is
    ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
    ##   GKE, AWS & OpenStack)
    ##
    ## storageClass: "-"
    ##
    ## If you want to reuse an existing claim, you can pass the name of the PVC using
    ## the existingClaim variable
    # existingClaim: your-claim
    # subPath: some-subpath
    accessMode: ReadWriteMany
    size: 10Gi

  extraExistingClaimMounts: []
    # - name: external-mount
    #   mountPath: /srv/external-mount
    ## A manually managed Persistent Volume and Claim
    ## If defined, PVC must be created manually before volume will be bound
    #   existingClaim:
    #   readOnly: true

resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  limits:
    cpu: 2
    memory: 3Gi
  requests:
    cpu: 2
    memory: 2Gi

nodeSelector: {}

tolerations: []

affinity: {}

extraVolumes:
 # - name: jellyfin-media-st
  #  hostPath: 
  #    path: /home/jellyfin/media
  - name: jellyfin-config-st
    hostPath: 
      path: /home/jellyfin/config
  - name: jellyfin-cache-st
    hostPath: 
      path: /home/jellyfin/cache
  #- name: renderD129
  #  hostPath:
  #    path: /dev/dri/renderD129

extraVolumeMounts:
  - mountPath: /jellyfin-media
    name: jellyfin-media
  - mountPath: /jellyfin-config
    name: jellyfin-config-st
  - mountPath: /jellyfin-cache
    name: jellyfin-cache-st
  #- mountPath: /dev/dri/renderD129
  #  name: renderD129 -

storageClass: {}
  #


#nfs:
#  enabled: true
#  path: /mnt/test/jellyfin/media
#  server: 192.168.37.105
      
