# Helm package GitHub Action

name: helm-action

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    steps:
      - name: Checks-out the repository
        uses: actions/checkout@v3

      - name: Login to the Container registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CR_TOKEN }}
     
     # - name: Build and push
     #   uses: docker/build-push-action@v2
     #   with:
     #     context: ./helm-source/jellyfin
     #     push: true
     #     tags: ghcr.io/jankalep/jellyfin:latest
          
      - name: Helm tool installer
        uses: Azure/setup-helm@v3

      - name: Publish Helm charts
        run: |
          mkdir ./helm-release
          cd ./helm-source
          helm package jellyfin 
          mv jellyfin-* ../helm-release
          cd ../
          helm repo index --url https://github.com/jankalep/it-academy-project/ --merge index.yaml .
      
      - name: Commit and push changes
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Publish jellyfin ${{ steps.tag_version.outputs.new_tag }}"
          git push origin master

      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: project-jellyfin
          SLACK_COLOR: ${{ job.status }} 
          SLACK_MESSAGE: 'A new image ${{ github.repository }}:${{ github.ref_name }} has been released'
          SLACK_TITLE: Status
          SLACK_USERNAME: ${{ github.repository }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }} 