# Helm package GitHub Action
# version 0.1.2 GHAct with working Helm and git changes

name: helm-action

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    steps:
      - name: Checks-out the repository
        uses: actions/checkout@v3

      - name: Login to the Container registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CR_TOKEN }}
     
      - name: publish
        uses: jankalep/it-academy-project/action.yml@master
        with:
          version: 'v0.1'
          docker_compose: './docker/docker-compose.yaml' 
          repo_token: "${{ secrets.CR_TOKEN }}"
          
      - name: Helm tool installer
        uses: Azure/setup-helm@v3

      - name: Publish Helm charts
        run: |
          mkdir ./helm-release || test -d ./helm-release
          cd ./helm-source
          helm package jellyfin 
          mv jellyfin-* ../helm-release
          cd ../
          helm repo index ./ 
      
      - name: Commit and push changes
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Publish jellyfin ${{ steps.tag_version.outputs.new_tag }}"
          git push origin master

      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_COLOR: ${{ job.status }} 
          SLACK_MESSAGE: 'A new image ${{ github.repository }}:${{ github.ref_name }} has been released'
          SLACK_TITLE: Status
          SLACK_USERNAME: ${{ github.repository }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }} 